
fastapi
uvicorn

# 認証・JWT処理のために追加
python-jose[cryptography]
pydantic-settings

# テスト用
pytest
httpx # FastAPIのTestClientが内部で使用

# supabase
supabase
gotrue
# psycopg2
# python-dotenv

# OCR用
rapidfuzz
opencv-python
pytesseract
pillow
numpy
jaconv

# デプロイ用
uvicorn